Makefile
.qmake.super
*.pyc
*.7z
*.gz
.*.swp
*.zip
/packaging-tools/qt-bld
/packaging-tools/qt-src
/packaging-tools/ifw-src
/packaging-tools/ifw-bld
/packaging-tools/ifwt
/packaging-tools/repository
/packaging-tools/pkg
/packaging-tools/config
/packaging-tools/ifw_build_artifacts
/packaging-tools/qt-bld-dynamic
/packaging-tools/qt-install-dynamic
/packaging-tools/ifw-pkg
/packaging-tools/pkg_generator_output
