Makefile
.qmake.super
*.pyc
*.7z
*.gz
*.zip
/packaging-tools/qt-bld
/packaging-tools/qt-src
/packaging-tools/ifw-src
/packaging-tools/ifw-bld
/packaging-tools/ifwt
/packaging-tools/repository
/packaging-tools/pkg
/packaging-tools/config
/packaging-tools/build_artifacts
