.tag                    export-subst
.gitignore              export-ignore
.gitattributes          export-ignore
.gitmodules             export-ignore
init-repository         export-ignore
packaging-tools         export-ignore
