[submodule "qtbase"]
	path = qtbase
	url = git://qt.gitorious.org/qt/qtbase.git
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = git://qt.gitorious.org/qt/qtdeclarative.git
[submodule "qtscript"]
	path = qtscript
	url = git://qt.gitorious.org/qt/qtscript.git
[submodule "qttools"]
	path = qttools
	url = git://gitorious.org/qt/qttools.git
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = git://qt.gitorious.org/qt/qtxmlpatterns.git
[submodule "qtwebkit"]
	path = qtwebkit
	url = git://gitorious.org/qt/qtwebkit.git
[submodule "qtjsbackend"]
	path = qtjsbackend
	url = git://gitorious.org/qt/qtjsbackend.git
[submodule "qtquick1"]
	path = qtquick1
	url = git://gitorious.org/qt/qtquick1.git
[submodule "qt-creator"]
	path = qt-creator
	url = git://gitorious.org/qt-creator/qt-creator.git
[submodule "qtdoc"]
	path = qtdoc
	url = git://gitorious.org/qt/qtdoc.git
[submodule "qtsvg"]
	path = qtsvg
	url = git://gitorious.org/qt/qtsvg.git
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = git://gitorious.org/qt/qtmultimedia.git
[submodule "qttranslations"]
	path = qttranslations
	url = git://gitorious.org/qt/qttranslations.git
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = git://gitorious.org/qt/qtactiveqt.git
[submodule "qtimageformats"]
	path = qtimageformats
	url = git://gitorious.org/qt/qtimageformats.git
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = git://gitorious.org/qt/qtgraphicaleffects.git
[submodule "qtwebkit-examples-and-demos"]
	path = qtwebkit-examples-and-demos
	url = git://gitorious.org/qt/qtwebkit-examples-and-demos.git
